li.ps-banner.ps-banner--white(
data-index="rs-100"
data-transition="random"
data-slotamount="default"
data-hideafterloop="0"
data-hideslideonmobile="off"
data-rotate="0"
)
    img(src="images/slider/2.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina)
    .tp-caption.ps-banner__header(
    id="layer20"
    data-x="left" data-hoffset="['-60','15','15','15']"
    data-y="['middle','middle','middle','middle']" data-voffset="['-150','-120','-150','-170']"
    data-width="['none','none','none','400']"
    data-type="text"
    data-responsive_offset="on"
    data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]'
    )
        p BEST ITEM <br> THIS SUMMER
    .tp-caption.ps-banner__title(
    id="layer339"
    data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']"
    data-y="['middle','middle','middle','middle']" data-voffset="['-60','-40','-50','-70']"
    data-type="text"
    data-responsive_offset="on"
    data-textAlign="['center','center','center','center']"
    data-frames='[{"delay":1200,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]'
    )
        p.text-uppercase Recovery
    .tp-caption.ps-banner__description(
    id="layer2-1" + (i + 1)
    data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']"
    data-y="['middle','middle','middle','middle']" data-voffset="['30','50','50','50']"
    data-type="text"
    data-responsive_offset="on"
    data-textAlign="['center','center','center','center']"
    data-frames='[{"delay":1200,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]'
    )
        p Supa wanted something that was going to rep his East Coast <br> roots and, more specifically, his hometown of <br/> New York City in  a big way.
    a.tp-caption.ps-btn(
    id="layer364"
    href="#"
    data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']"
    data-y="['middle','middle','middle','middle']" data-voffset="['120','140','200','200']"
    data-type="text"
    data-responsive_offset="on"
    data-textAlign="['center','center','center','center']"
    data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]'
    )
        | Purchase Now
        i.ps-icon-next