block page
    .ps-home-testimonial.bg--parallax.pb-80(data-background="images/background/parallax.jpg")
        .container
            .owl-slider(
                data-owl-auto= 'true',
                data-owl-loop= 'true',
                data-owl-speed= '5000',
                data-owl-gap= '0',
                data-owl-nav= 'false',
                data-owl-dots= 'true',
                data-owl-item= '1',
                data-owl-item-xs= '1',
                data-owl-item-sm= '1',
                data-owl-item-md= '1',
                data-owl-item-lg= '1',
                data-owl-duration= '1000',
                data-owl-mousedrag= 'on',
                data-owl-animate-in="fadeIn"
                data-owl-animate-out="fadeOut"
            )
                - for (var i = 0; i < 3; i ++)
                    .ps-testimonial
                        .ps-testimonial__thumbnail
                            img(src="images/testimonial/"+(i+1)+".jpg" alt="")
                            i.fa.fa-quote-left
                        header
                            select.ps-rating
                                option(value='1') 1
                                option(value='1') 2
                                option(value='1') 3
                                option(value='1') 4
                                option(value='5') 5
                            p Logan May - CEO & Founder Invision
                        footer
                            p “Dessert pudding dessert jelly beans cupcake sweet caramels gingerbread. Fruitcake biscuit cheesecake. Cookie topping sweet muffin pudding tart bear claw sugar plum croissant. “