.ps-banner
    #home-banner.rev_slider.fullscreenbanner
        ul.ps-banner
            li(
                data-index="rs-2972"+i
                data-transition="random"
                data-slotamount="default"
                data-hideafterloop="0"
                data-hideslideonmobile="off"
                data-easein="default" data-easeout="default"
                data-masterspeed="default"
                data-rotate="0"  data-saveperformance="off"
            )
                img(src="images/slider/1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina)
                .tp-caption.ps-banner__header(
                    id="layer"+(i+1)
                    data-x="left" data-hoffset="['-60','15','15','15']"
                    data-y="['middle','middle','middle','middle']" data-voffset="['-150','-60','-70','-70']"
                    data-width="['none','none','none','400']"
                    data-type="text"
                    data-responsive_offset="on"
                data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                )
                    p March 2017 <br> BASKETBALL FASHION
                .tp-caption.ps-banner__title(
                    id="layer2"+(i+1)
                    data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']"
                    data-y="['middle','middle','middle','middle']" data-voffset="['-60','0','0','0']"
                    data-type="text"
                    data-responsive_offset="on"
                    data-textAlign="['center','center','center','center']"
                    data-frames='[{"delay":1200,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                )
                    p CLOTHING
                .tp-caption.ps-banner__description(
                    id="layer2-1"+(i+1)
                    data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']"
                    data-y="['middle','middle','middle','middle']" data-voffset="['30','0','0','0']"
                    data-type="text"
                    data-responsive_offset="on"
                    data-textAlign="['center','center','center','center']"
                    data-frames='[{"delay":1200,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                )
                    p Supa wanted something that was going to rep his East Coast <br> roots and, more specifically, his hometown of <br/> New York City in a big way.
                a.tp-caption.ps-btn(
                id="layer3"+(i+1)
                href="#"
                data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']"
                data-y="['middle','middle','middle','middle']" data-voffset="['120','60','70','70']"
                data-type="text"
                data-responsive_offset="on"
                data-textAlign="['center','center','center','center']"
                data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"x:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"x:50px;opacity:0;","ease":"Power3.easeInOut"}]'
                )
                    | Purchase Now
                    i.ps-icon-next





